.App {
  text-align: center;
  width: 100%;
  height: 98%;
  background-color: floralwhite;
  padding-bottom: 2%;
}

.App-logo {
  margin-top: 2vmin;
  margin-bottom: 0;
  height: .5vmin;
  width: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: serif;
  color: #235347;
  width: 100%;
  height: 13vh;
  padding-top: 1%;
}

h1{
  margin-top: 0;
}

.Content{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  height: 75%;
}

.Chart-Container h3{
  margin: 1% 0 5% 0;
  font-size: 1.3em;
}

#side-content{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 25vw;
  height: 80vh;
  border-right: solid .2em #CCCCCC;
}

.Info-Container{
  height: 30%;
  align-items: center;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.Info-Container h3{
  margin-top: 5%;
  margin-bottom: 2%;
}

#main-content{
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
}

.Chart-Container{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#main-chart{
  height: 20%;
  align-items: center;
}

#sub-charts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;

}

.Sub-Chart{
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 40vw;
}

a{
  font-size: .8em;
}

h2{
  margin: 0 3% 3% 3%;
  text-align: left;
}